<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.pro.dao.ModelMapper" >

    <resultMap id="modelResultMap" type="Model" autoMapping="true">
        <id column="id" property="id"></id>
        
        
        <collection property="modelItems" javaType="ArrayList" ofType="ModelItem" autoMapping="true">
            <id column="pid" property="id"></id>
        </collection>
        
    </resultMap>

    <select id="queryAllModel" resultMap="modelResultMap">
        SELECT m.id mid,m.name,m.status ,mi.*FROM t_model m
        INNER  JOIN t_model_item  mi
        ON m.id = mi.pid
    </select>


</mapper>